Repository DemonDaddy22/FoGit, changes with the labels that .github/labeler.yml gives for each.
All labels: modules, source, docs, package, config, workflow

.github/labeler.yml:

modules:
    - node_modules/*
    - node_modules/**/*

source:
    - src/*
    - src/**/*
    - public/*
    - public/**/*

docs:
    - '*.md'

package:
    - package.json
    - package-lock.json

config:
    - .eslintrc.js
    - .eslintignore
    - .gitignore
    - prettier.config.js
    - .vscode/*
    - tsconfig.json

workflow:
    - '.github/*'
    - '.github/**/*'

Add designs
  README.md
  design/FoGit-mobile.png
  design/FoGit-web.png
Labels: docs

Restyled by prettier-markdown
  README.md
Labels: docs

Add designs (#7)
  README.md
  design/FoGit-mobile.png
  design/FoGit-web.png
Labels: docs

Update lint and pr_label workflows
  .github/workflows/lint.yml
  .github/workflows/pr_label.yml
Labels: workflow

Update PR Template
  .github/pull_request_template.md
  CONTRIBUTING.md
Labels: docs, workflow

Add basic util methods
  src/utils/index.ts
Labels: source

Add tests for isEmptyString and update lint workflow to run tests
  .github/workflows/lint_and_test.yml
  src/utils/index.ts
  src/utils/isEmptyString.test.ts
Labels: source, workflow

Add test:ci and test:cov scripts to disable watchAll mode
  .github/workflows/lint_and_test.yml
  package.json
  src/App.test.tsx
Labels: source, package, workflow

Add utils and create isEmptyString test suite (#12)
  .github/workflows/lint_and_test.yml
  package.json
  src/App.test.tsx
  src/utils/index.ts
  src/utils/isEmptyString.test.ts
Labels: source, package, workflow

Updated the script to not produce sourcemap for production build
  package.json
Labels: package

Delete favicon.ico
  public/favicon.ico
Labels: source

Update index.html
  public/index.html
Labels: source
