Repository DemonDaddy22/FoGit, pull requests merged in 2021-11, with the labels that each got.

#39 Add loader impl
  src/components/ContentColumn/index.tsx
  src/components/Loader/index.test.tsx
  src/components/Loader/index.tsx
  src/components/Loader/styles.module.scss
Labels: size/L, hacktoberfest-accepted

#42 Convert header to navbar and handle API errors
  src/assets/icons/BuyMeACoffee.tsx
  src/assets/icons/GitHub.tsx
  src/assets/icons/Twitter.tsx
  src/assets/icons/Unsplash.tsx
  src/components/Content/index.tsx
  src/components/ContentColumn/index.tsx
  src/components/ContentColumn/styles.module.scss
  src/components/Header/index.tsx
  src/components/Header/styles.module.scss
  src/components/Loader/index.test.tsx
  src/components/Loader/index.tsx
  src/components/Loader/styles.module.scss
  src/constants/index.ts
  src/constants/styles.scss
  src/utils/createListOfSize.test.ts
Labels: enhancement, size/L

#44 Add gh-pages and deploy workflow
  .github/workflows/build_and_deploy.yml
  README.md
  package-lock.json
  package.json
Labels: enhancement, size/M

#45 Create search input component
  src/App.tsx
  src/assets/icons/ArrowRight.tsx
  src/components/Content/index.tsx
  src/components/Content/styles.module.scss
  src/components/Header/index.tsx
  src/components/Header/styles.module.scss
  src/components/Input/index.tsx
  src/components/Input/styles.module.scss
  src/constants/styles.scss
  src/context/InputContext.tsx
Labels: enhancement, size/L
