Repository DemonDaddy22/FoGit, pull requests merged in 2021-10, with the labels that each got.

#7 Add designs
  README.md
  design/FoGit-mobile.png
  design/FoGit-web.png
Labels: docs, size/S

#12 Add utils and create isEmptyString test suite
  .github/workflows/lint_and_test.yml
  package.json
  src/App.test.tsx
  src/utils/index.ts
  src/utils/isEmptyString.test.ts
Labels: size/L, source, package, workflow

#15 Updated the script to not produce sourcemap for production build
  package.json
Labels: enhancement, hacktoberfest-accepted, size/XS

#27 Integrate Follower and Following GitHub user APIs
  package-lock.json
  package.json
  src/assets/icons/ExternalLink.tsx
  src/components/Content/index.tsx
  src/components/Content/styles.module.scss
  src/components/ContentColumn/index.tsx
  src/components/ContentItem/index.tsx
  src/components/ContentItem/styles.module.scss
  src/components/Header/styles.module.scss
  src/constants/index.ts
  src/hooks/useAsyncExec.ts
  src/utils/index.ts
Labels: enhancement, size/L

#32 Add testsuite for createListOfSize
  src/utils/createListOfSize.test.ts
Labels: size/S

#35 Update title bar icon
  public/favicon.ico
  public/index.html
  public/logo.png
  public/logo192.png
  public/logo512.png
  public/manifest.json
  src/components/ContentColumn/index.tsx
Labels: size/M
